*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-img {
  display: flex;
  height: 94vh;
  width: 100%;
  align-items: center;
  background-image: url("../onstart/heroimg.jpg");
  opacity: 2.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  flex-direction: column;
}

.startup-box {
  box-sizing: border-box;
  border-radius: 1px;
  border: 0px solid;
  border-color: rgb(248, 248, 248);
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.margin-header {
  margin-top: 7rem;
  margin-bottom: 5px;
  padding: 1rem;
  font-size: 5rem;
}
.margin-text{

  margin-bottom: 15px;
  padding: 1rem;
  color: rgb(255, 255, 255);

}

.margin-content{
  margin-top: 13rem;

}

.hero-btn-L {
  color: #fefefe;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 0px;
  margin-top: .38rem;
  margin-right: 50px;
  
}
.hero-btn-R {
  color: #fefefe;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 0px;
  margin: 0;
}



.change-content:after{

content: '';
animation: changetext 30s infinite linear; 
text-transform: uppercase;
font-size: 1.7rem;
color: rgb(255, 255, 255);

}

@keyframes changetext{
0% { content: "Browse between thousands of movies"; }
20% { content: "Keep track of your Movies"; }
40% { content: "Add them to your Watchlist"; }
60% { content: "Add them to your Watched"; }
80% { content: "Or move them in between"; }
100% { content: "So you'll never forget again."; }



}